<!doctype html>
<html lang="en">

<head>
    <title>Expansion Technologies</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Expansion Technologies is pioneering Expansion Microscopy for biology, medicine, and beyond">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="super-resolution nanoscale microscopy bioimaging">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="scroll.js"></script>
</head>

<body>
    <div class="navbar navbar-fluid" style="z-index: 2000; background-color:transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img alt="Brand" style="z-index: 2000; height: 150px;" src="logo.png"></a>
        </div>
    </div>
    <div class="row" style="margin-top: -70px;">
        <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <video poster="stopped.jpg" id="bgvid" playsinline autoplay muted loop style="image-fit: fill; width: 100%; min-height: 700px">
                <source src="exm.mp4" type="video/mp4"> </video>
            <div class="container carousel-overlay text-center">
                <div style="margin-left: 5px; margin-right: 5px">
                    <h1>Scalable 3D Imaging with Nanoscale Precision</h1></div>
                <div class="row">
                    <div class=".visible-xs-block hidden-xs subtitle">
                        <h2 style="font-size: 25px; color: white">We are pioneering Expansion Microscopy for Biology, Medicine, and Beyond</h2></div>
                    <br>
                    <a href="#kits">
                        <button class="btn btn-lg" style="background-color: white; margin-top: 10px; margin-bottom: 10px; font-family: 'Avenir Next'; "><img src="arrow-down.png" style="height: 25px"></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3 style="text-align: center; font-size: 55px">TECHNOLOGY</h3>
            <hr>
            <h2 style="text-align: center; font-size: 25px">Expansion Microscopy is a bioimaging tool which achieves nanoscale spatial resolution through the physical expansion and clearing of the biological specimen.</h2>
            <br>
            <div class="col-lg-4">
                <div class="well"> <img src="pane 1.png" class="img-responsive" />
                    <br>
                    <div class="caption" style="font-family: Avenir Next ; font-size: 20px">1. A biological sample is immunostained with conventional antibodies and incubated with the EXT Anchoring Reagent</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well"> <img src="pane 2.png" class="img-responsive" />
                    <br>
                    <div class="caption" style="font-family: Avenir Next ; font-size: 20px">2. Monomers are diffused into the sample and a polymer matrix is formed. The sample is cleared with the EXT Digestion Enzyme</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="well"> <img src="pane 3.png" class="img-responsive" />
                    <br>
                    <div class="caption" style="font-family: Avenir Next ; font-size: 20px">3. The sample is washed with water, resulting in the isotropic expansion of the polymer and anchored fluorophore</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-image: url('tubulin.png')">
        <div class="container">
                <h4 style="text-align: center; font-size: 35px; color: white">EXPANSION MICROSCOPY NAMED METHOD TO WATCH</h4>
                
                    <a href = "http://www.nature.com/nmeth/journal/v14/n1/full/nmeth.4113.html?WT.feed_name=subjects_cell-biology"><img src = "methods.png" style = "width: 500px; display:block; margin-left: auto; margin-right: auto" class = "img-responsive"></a><br>
               
        </div>
    </div>
    <div class="row" style="background-color: black">
        <div class="container">
            <div class="row">
                <h3 style="text-align: center; font-size: 55px; color: white">PUBLICATIONS</h3>
                <hr>
                <br>
                <div class="col-md-3">
                    <div class="well" style="background-color: black">
                        <a href="http://science.sciencemag.org/content/347/6221/543"><img src="pub2.png" class="img-responsive" /></a>
                        <br>
                        <div class="caption" style="font-family: Avenir Next ;color: white; font-size: 20px; text-align: center">2015</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well" style="background-color: black; width:100%;">
                        <a href="http://www.nature.com/nmeth/journal/v13/n8/full/nmeth.3899.html"><img src="pub1.png" class="img-responsive" /></a>
                        <br>
                        <div class="caption" style="font-family: Avenir Next ;color: white; font-size: 20px; text-align: center">2016</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well" style="background-color: black">
                        <a href="http://www.nature.com/nbt/journal/vaop/ncurrent/full/nbt.3625.html"><img src="pub3.png" class="img-responsive" /></a>
                        <br>
                        <div class="caption" style="font-family: Avenir Next ;color: white; font-size: 20px; text-align: center">2016</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well" style="background-color: black">
                        <a href="http://www.nature.com/nmeth/journal/vaop/ncurrent/full/nmeth.4261.html"/><img src="pub4.png" class="img-responsive" /></a>
                        <br>
                        <div class="caption" style="font-family: Avenir Next ;color: white; font-size: 20px; text-align: center">2017</div>
                    </div>
                </div>
                  <div class="col-md-3">
                    <div class="well" style="background-color: black">
                        <a><img src="pub5.png" class="img-responsive" /></a>
                        <br>
                        <div class="caption" style="font-family: Avenir Next ;color: white; font-size: 20px; text-align: center">2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: white">
        <div class="container" id="kits">
            <div class="row">
                <h3 style="text-align: center; font-size: 55px; color: black">EXPANSION MICROSCOPY IHC KITS</h3>
                <hr>
                <h3 style="text-align: center; font-size: 65px; color: #5cd65c">$199.99</h3></div>
            <div class="row">
                <div class="col-lg-6">
                    <h2 style="text-align: center; color: black">Tissue Expansion Kit</h2>
                    <div style="text-align:center; margin-bottom: 50px;"> <img src="tissue kit.jpg" class="img-responsive" style="height: 500px;">
                        <br>
                        <a href="/buy">
                            <button style="background-color:black" class="btn btn-lg">Learn More</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 style="text-align: center; color: black">Cell Expansion Kit</h2>
                    <div style="text-align:center; margin-bottom: 50px;"> <img src="cell kit.jpg" class="img-responsive" style="height: 500px">
                        <br>
                        <a href="/buycell">
                            <button style="background-color:black" class="btn btn-lg">Learn More</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: white">
        <div class="container" id="kits">
            <div class="row">
                <h3 style="text-align: center; font-size: 55px; color: black">EXPANSION MICROSCOPY ISH KITS</h3>
                <hr>
                <h3 style="text-align: center; font-size: 65px; color: #5cd65c">Beta</h3></div>
            <div class="row">
                <img src = "rnakit.png" style = "width: 500px; display:block; margin-left: auto; margin-right: auto" class = "img-responsive"><br>
            </div>
            <div class="row">
                <p>If you are interested in beta testing the Expansion Microscopy ISH Kit for Tissue, please reach out to us at</p>
                <div style="text-align:center; margin-top: 50px; margin-bottom: 50px;">
                    <button style="background-color:grey" class="btn btn-lg"><a href="mailto:partners@extbio.com?Subject=Hello">kits@extbio.com</a></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="row" style="text-align: center; background-color: black">
        <div class="container">
            <h3 style="text-align: center; font-size: 55px; color: white">TEAM</h3>
            <hr>
            <br>
            <div class="col-md-3">
                <div class="well"> <img src="ed.jpg" class="img-responsive" style="margin-left:auto; margin-right:auto; display:block" />
                    <br>
                    <div class="caption" style="font-family: 'Avenir Next'; font-size: 20px; text-align: center; color: white">Ed Boyden, Ph.D.</div>
                    <h5 style="color: grey">Co-Founder and Chief Scientific Advisor</h5></div>
            </div>
            <div class="col-md-3">
                <div class="well"> <img src="mahender.png" class="img-responsive" style="margin-left:auto; margin-right:auto; display:block" />
                    <br>
                    <div class="caption" style="font-family: 'Avenir Next' ;font-size: 20px; text-align: center; color: white">Mahender Dewal, Ph.D.</div>
                    <h5 style="color: grey">Principal Scientist and Founding Member</h5></div>
            </div>
            <div class="col-md-3">
                <div class="well"> <img src="nikita.jpg" class="img-responsive" style=" margin-left:auto; margin-right:auto; display:block" />
                    <br>
                    <div class="caption" style="font-family: 'Avenir Next' ; font-size: 20px; text-align: center; color: white">Nikita Obidin</div>
                    <h5 style="color: grey">Founding Scientist</h5></div>
            </div>
            <div class="col-md-3">
                <div class="well"> <img src="kevin.jpg" class="img-responsive" style=" margin-left:auto; margin-right:auto; display:block" />
                    <br>
                    <div class="caption" style="font-family: 'Avenir Next' ; font-size: 20px; text-align: center; color: white">Kevin Munnelly</div>
                    <h5 style="color: grey">Business Development</h5></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="well">
                <h3 style="text-align: center; font-size: 45px">COLLABORATIONS AND PARTNERSHIPS</h3>
                <hr>
                <p>If you are interested in collaborating on this very exciting technology or if you just want to learn more please contact us at</p>
                <div style="text-align:center; margin-top: 50px; margin-bottom: 50px;">
                    <button style="background-color:grey" class="btn btn-lg"><a href="mailto:partners@extbio.com?Subject=Hello">partners@extbio.com</a></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="well">
                    <a href="https://www.facebook.com/extbio/"><img src="facebook.png" style="height: 100px; margin-left:auto; margin-right:auto; display:block"></a>
                    <br>
                    <br>
                    <a href="https://twitter.com/EXT_Bio"><img src="https://cdn3.iconfinder.com/data/icons/social-icons-5/607/Twitterbird.png" style="height: 100px; margin-left:auto; margin-right:auto; display:block"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well"> <img src="map.png" style="width: 100%; margin-left:auto; margin-right:auto; display:block"></div>
                <p>One Kendall Square</p>
                <p>Cambridge, MA</p>
                <p>617-225-7980</p>
            </div>
        </div>
    </div>
    <hr>
    <div id="team" class="row" style="margin-top:0px">
        <footer style="text-align: center">
            <p>&copy; 2016 Expansion Technologies, Inc.</p>
            <p style="font-size: 12px"><a href="terms.pdf">Terms and Conditions</a></p>
        </footer>
    </div>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-79958321-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>